body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f2f2;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background: #c68080;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 50px;
    background: rgb(161, 114, 114);
    margin-top: 20px;
    border-radius: 20px;
}

h2 {
    color: #333;
}